[mysqld]
# it creates too big sized log file because laravel runs background job queries last time log file was 35 gb
general_log = 0
general_log_file = /var/lib/mysql/general.log
tls_version=TLSv1.2
